.product {
    border: 2px solid black;
    width: 13vw;
    height: 14.5vw;
    text-align: center;
    color: black;
    font-family: mid;
}

.product:hover {
    border: 2px solid red;
    color: red;
    cursor: pointer;
}

.product_image {
    width: 9vw;
    height: 17vh;
    margin-top: 1.5vh;
}