.header_div {
    width: 100vw;
    height: 4vh;
    background-color: #1e1e28;
}

.content_div {
    width: 80vw;
    height: 4vh;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
    font-family: light;
    font-size: 1.8vh;
}

.header_red {
    color: red;
}

.email {
    margin-right: 2vw;
}