.navbar_div {
    width: 100vw;
    height: 10vh;
    background-color: #15151d;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid red;
}

.logo_div {
    height: 100%;
    width: 26.6%;
    display: flex;
    align-items: center;
    color: white;
    font-family: bold;
    font-size: 4vh;
}

.search_div {
    height: 100%;
    width: 26.6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_div {
    height: 100%;
    width: 26.6%;
    right: 0;
    color: white;
    text-align: right;
    font-family: mid;
    font-size: 3vh;
}

.textbox {
    border: none;
    border-radius: 15px;
    text-align: center;
    font-family: light;
    font-size: 2.5vh;
    margin-top: 1.5vh;
    width: 20vw;
    height: 4vh;
    outline: none;
}

.search_button {
    border: none;
    border-radius: 15px;
    height: 4vh;
    width: 5vw;
    font-family: light;
    color: white;
    background-color: red;
    font-size: 2.5vh;
    outline: none;
}

.search_button:hover {
    cursor: pointer;
}

.search_button:active {
    background-color: rgb(187, 4, 4);
}

.wishlist {
    position: relative;
    top: 3vh;
    margin-right: 3vw;
}

.wishlist:hover {
    cursor: pointer;
    color: red;
}

.cart {
    position: relative;
    top: 3vh;
}

.cart:hover {
    cursor: pointer;
    color: red;
}

.navbar_link {
    text-decoration: none;
    color: white;
}