* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
}

@font-face {
  font-family: light;
  src: url(./fonts/light.ttf);
}

@font-face {
  font-family: mid;
  src: url(./fonts/mid.ttf);
}

@font-face {
  font-family: bold;
  src: url(./fonts/bold.ttf);
}